.modal-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--textColor);
}

@media (min-width: 468px) {
    .modal-title {
        font-size: 1.5rem;
    }
}

.modal-paragraph {
    font-weight: bold;
    color: var(--textColor);
}

.modal-paragraph span {
    font-weight: normal;
}

.modal-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.modal-delete {
    background-color: var(--colorDelete);
}

.modal-delete:hover {
    background-color: var(--colorDeleteDark);
}

.modal-confirm {
    background-color: var(--colorConfirm);
}

.modal-confirm:hover {
    background-color: var(--colorConfirmDark);
}

.modal-select {
    width: 100%;
    padding: 0.5rem;
    background-color: var(--backgroundInput);
    color: var(--textColor);
    border: 2px solid var(--primaryColor);
    border-radius: 4px;
    font-size: 16px;
    appearance: none;
    outline: none;
    transition: border-color 0.3s;
}

.modal-select:hover {
    border-color: var(--primaryDarkColor);
}

.modal-select:focus {
    border-color: var(--primaryDarkColor);
}

.modal-option {
    background-color: var(--backgroundCard);
    color: var(--textColor);
}

.modal-form {
    width: 100%;
}

.modal-group {
    margin: 0.5rem 0;
}

.modal-spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.modal-orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    overflow-y: scroll;
    height: 450px;
}

.modal-order {
    border-radius: 8px;
    border: 1px solid var(--backgroundColor);
    background-color: var(--backgroundColor);
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.modal-order p {
    color: var(--textColor);
}

.modal-order span {
    font-weight: bold;
    text-transform: uppercase;
}
