.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.pagination-page {
    font-size: 0.8rem;
    color: var(--textColor);
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 468px) {
    .pagination-page {
        font-size: 1rem;
    }
}

.pagination-disabled {
    background-color: #636363;
}

.pagination-disabled:hover {
    background-color: #424242;
}
