.users {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 5rem 2rem;
}

@media (min-width: 768px) {
    .users {
        padding: 1.5rem 0;
    }
}

.users-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

@media (min-width: 768px) {
    .users-list {
        width: unset;
    }
}

.users-button {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 2rem 2rem 0;
    text-decoration: none;
}
