.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundColor);
    padding: 5rem 1rem;
    border-radius: 8px;
    color: var(--textColor);
}

@media (min-width: 768px) {
    .home {
        padding: 1.5rem 0;
    }
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
